{$DOMAIN} {
    encode zstd gzip
    reverse_proxy panel:3000 {
        header_up X-Real-IP {remote_host}
        header_up -Oai-Authenticated-User-Id
        header_up -Oai-Authenticated-User-Email
    }
}
